* {
    font-family: 'Zen Antique'
}
.image-article img {
    width: 100%;
    padding-top: 0%;
    background-size: contain;
    margin-top: 0%;
    max-height: 300px;
}

.judul {
    
    color: black;
    max-width: 50%;

    margin: 60px auto;
    padding: 5px;
    font-size: 35px;
    
}

.judul p {
    font-size: 15px;
}

.bagian1 {
    
    color: black;
    width: 50%;
    margin: auto;
    
}

.bagian1 .judul1 {
  
    max-width: 100%;
   
    color: black;
    padding: 5px;
    font-size: 30px;
}

.bagian1 .isi1 {
    white-space: pre-line;
    font-size: 19px;
    line-height: 1.6;
}

.bagian1 .isi1 img {
    
    width: 100%;
    padding-top: 0%;
}

.image-pendukung img {
    
    max-width: 50%;
    padding-top: 0%;
    background-size: contain;
    margin: 40px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-article img {
    width: 100%;
    padding-top: 0%;
    background-size: contain;
    margin-top: 0%;
    max-height: 300px;
}



.bagian2 {
    margin: 40px;
    color: black;
    width: 50%;
    margin: 60px auto;
    
}

.bagian2 .judul2 {
  
    max-width: 100%;
   
    color: black;
    padding: 5px;
    font-size: 30px;
}

.bagian2 .isi2 {
    white-space: pre-line;
    line-height: 1.6;
    font-size: 19px;
}
.bagian2 .isi2 img {
   
    width: 100%;
    padding-top: 0%;
    
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: navy;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: slateblue;
}