{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/register_css.css' %}" />
    <title>{%block title%}Register Vaccination{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Logic of Document -->
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "{% url 'registervac:json_vaccine' %}",
                dataType: 'json',   
                success: function(data) {
                    let dataPendaftar;
                    if (typeof data[0] === "undefined") {
                        dataPendaftar = `
                        <h1 class="display-2">Book a Vaccine Now!</h1>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <br />
                            <input type="submit" class="btn btn-primary" value="Book Now!">
                        </form>`;
                    }
                    else {
                        dataPendaftar = `
                        <div class="card img-fluid">
                            <img class="card-img-top" src="{% static "image/covid.jpg" %}" alt="Covid Image" style="width:100%;">
                            <div class="card-img-overlay text-center" style="padding-top:25%">
                                <h4 class="card-title display-3" style="color:white; font-weight: bold;">Vaccination Booking Data</h4>
                                <p class="card-text">
                                    <p class="display-6" style="color:white; font-weight: bold;">Tanggal Vaksin: ${data[0].fields.tanggal_vaksin}</p>
                                    <p class="display-6" style="color:white; font-weight: bold;">NIK: ${data[0].fields.NIK}</p>
                                    <p class="display-6" style="color:white; font-weight: bold;">Name: ${data[0].fields.name}</p>
                                    <p class="display-6" style="color:white; font-weight: bold;">Age: ${data[0].fields.age}</p>
                                </p>
                                <button class="delete btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
                                    <h3><small>Delete</small></h3>
                                </button>

                            </div>
                        </div>`;
                    }
                    $('.konten-utama').html(dataPendaftar);
                    $('.konten-utama').fadeIn(1000);
                    
                    $('.delete').click(function(){
                        $('.confirm').click(function() {

                            $.ajax({
                            url: '{% url "registervac:delete" %}',
                            data: {
                                'pk': data[0].pk
                            },
                            dataType: 'json',
                            success: function(data) {
                                let dataPendaftar = `
                                <h1 class="display-2">Book a Vaccine Now!</h1>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                    <br />
                                    <input type="submit" class="btn btn-primary" value="Book Now!">
                                </form>`;
                                $('.konten-utama').html(dataPendaftar);
                                $('.konten-utama').fadeIn(1000);
                                }
                            });
                        });
                    });
                }
            });
        });
    </script>
    {% endblock meta %}

    {% block content %}
    <div class="konten-utama container p-5 my-10" style="display:none;"></div>
    <div class="modal fade" id="delete-modal" style="z-index: 1000000000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title text-dark">Please confirm data deletion!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <p class="lead text-dark">Are you sure you want to delete your data?</p>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="confirm btn btn-danger" data-bs-dismiss="modal">Delete data</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}