.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    color: black;
    margin-left: 50px;
    margin-top: 30px;
}

.card{
    width: 400px;
    height: 390px;
    border-radius: 10px;
}

.input{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
}

.button .save{
    background-color: rgb(215, 238, 113);
    border: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.button .save:hover{
    background-color: rgb(161, 194, 13);
}

.button .back button{
    background-color: rgb(104, 200, 245);
    border: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.button .back button:hover{
    background-color: rgb(24, 161, 224);
}
