

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
}
.bio{
    background-color: rgb(167, 245, 180);
    border-style: solid;
    border-color: rgb(0, 255, 213);
    border-width: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bio .mini-card{
    background-color: rgb(236, 236, 236) !important;
    border-radius: 10px;
}

.mini-card{
    margin-bottom: 10px;
}

.button{
    margin-top: 40px;
}

.vac-card{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white
}

.vac-card h1{
    font-size: 18px;
}

.vac-card .first{
    background-color: rgb(255, 122, 188);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    width: 300px;
    height: 100px;
    border-radius: 10px;

}

.vac-card .second{
    background-color: rgb(81, 161, 252);
    border-radius: 10px;
    display: flex;
    width: 300px;
    margin-left: 50px;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.vac-card .first h1{
    margin-top: 10px;
}

.vac-card .second h1{
    margin-top: 10px;
}

.vac-card h6{
    font-size: 25px;
}

.tanggal{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    background-color: rgb(255, 215, 85);
    border-radius: 10px;
}

.tanggal .bulan{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.tanggal .tahun{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.tanggal .hari{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.first .belumada{
    background-color: rgb(255, 215, 85);
    padding: 10px;
    border-radius: 10px;
}

.second .belumada{
    background-color: rgb(255, 215, 85);
    padding: 10px;
    border-radius: 10px;
}

.button .edit-profile button{
    background-color: rgb(215, 238, 113);
    border: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.button .edit-profile button:hover{
    background-color: rgb(161, 194, 13);
}

.button .back button{
    background-color: rgb(104, 200, 245);
    border: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.button .back button:hover{
    background-color: rgb(24, 161, 224);
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .vac-card{
        flex-direction: column;
    }
    .vac-card .first{
        transform: translateX(50px);
        margin-bottom: 10px;
    }

    .bio{
        transform: translateX(-50px);
    }


    .card .bio{
        max-width: 650px;
    }
    

    .mini-card .info{
        max-width: 100px;
    }

    .button{
        transform: translateX(-50px);
        margin-bottom: 50px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .vac-card{
        flex-direction: column;
        align-items: center;
    }
    .vac-card .first{
        margin-bottom: 10px;
    }

    .vac-card .second{
        transform: translateX(-50px);
        margin-bottom: 10px;
    }

    .bio{
        transform: translateX(-22px);
        max-width: 900px ;
    }

    .mini-card .info{
        max-width: 200px ;
    }

    .mini-card{
        max-width: 800px;
    }

    .button{
        transform: translateX(-26px);
        margin-bottom: 50px;
    }
    
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .vac-card{
        flex-direction: column;
        align-items: center;
    }
    .vac-card .first{
        margin-bottom: 10px;
    }

    .vac-card .second{
        transform: translateX(-50px);
        margin-bottom: 10px;
    }

    .bio{
        transform: translateX(-22px);
        width: 600px ;
    }

    .mini-card .info{
        max-width: 200px ;
    }

    .mini-card{
        max-width: 800px    ;
    }

    .button{
        transform: translateX(-26px);
        margin-bottom: 50px;
    }

}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {

    .vac-card{
        flex-direction: row;
        margin-top: 150px;
    }
    .vac-card .first{
        margin-bottom: 10px;
    }

    .vac-card .second{
        transform: translateX(-50px);
        margin-bottom: 10px;
    }

    .bio{
        margin-top: 60px;
        transform: translateX(-22px);
        width: 800px ;
    }

    .mini-card .info{
        max-width: 200px ;
    }

    .mini-card{
        max-width: 800px    ;
    }

    .button{
        transform: translateX(-26px);
        margin-bottom: 50px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {

}
