{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>{%block title%}Login{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
    <h1 id="title"style="color: black;">Covindox</h1>
    <div class="login-section">
        <div id="card" class="card">
            <h1 style="margin-bottom: 10px; margin-top: 30px; color: black;">Login</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input username">
                    <label for="" style="color: black;">Username</label>
                    <input type="text" name="username" id="username" style="color: black;">
                </div>
                <div class="input password">
                    <label for="" style="color: black;" >Password</label>
                    <input type="password" name="password" id="password" style="color: black;">
                </div>
                <div class="button" style="align-self: center;">
                    <button type="submit" style="color: black;" >Login</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
    
