{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/index_article.css' %}" />
    <title>{%block title%}Covindax{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
        
        <div class="image-article">
            <img src="{{li.URLimageArtikel}}" alt = "image-article">
            

        </div>
        <div class="judul">
            <h2>{{li.titleArtikel}}</h2>
            <br>
            <span style= 'font-size: 15px;'>Created at: {{li.time}}</span>
        </div>
        <div class="bagian1">
            <div class="judul1">
                {{li.bagianTitle1}}
            </div>
            <div class="isi1">
                <img src="{{li.URLimagePendukung1}}" alt="image-article">
                {{li.isiBagian1}}
            </div>
        </div>

        <div class="bagian2">
            <div class="judul2">
                {{li.bagianTitle2}}
            </div>
            <div class="isi2">
                <img src="{{li.URLimagePendukung2}}" alt="image-article">
                {{li.isiBagian2}}
            </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">☝️</button>
        

        <script src="{% static 'js/scripts.js' %}"></script>

    {% endblock content %}
    