*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background: #c5f6fc;
    font-family: 'Nova Round', cursive;
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
}

body main {
    padding-top: 65px;
}



body::-webkit-scrollbar{
    width: 0.5rem;

}

body::-webkit-scrollbar-track{
    background: #ECFDFF;

}

body::-webkit-scrollbar-thumb{
    background: #13f4b0;

}

footer{
    background-color: #13f4b0;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    body{
        max-width: 576px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {

}
