body{
    color: white !important;
    background-color: #88e3ff !important;
}

.navbar{
    top: -10px !important;
}

.welcome-user img{
    height: 700px;
    position: absolute;
    pointer-events: none;
    user-select: none;

}

.welcome-user h6{
    position: absolute;
    color: #e4cf5a;
    font-size: 70px;
    bottom: 340px;
    left: 50px;
}

.welcome-user .profile{
    position: absolute;
    width: 200px;
    font-size: 70px;
    bottom: 300px;
    left: 50px;
}

.welcome-user .profile:hover{
    background: #ee9746 !important;
}

.welcome-user .logoutbutt{
    position: absolute;
    width: 120px;
    font-size: 70px;
    bottom: 300px;
    left: 300px;
}

.welcome-user .logoutbutt:hover{
    background: #ee9746 !important;
}


.welcome-user h1{
    position: absolute;
    font-size: 70px;
    transform: translate(50px, 100px);
}

.welcome-user{
    padding-bottom: 850px;
}

.button{
    position: absolute;
    transform: translate(70px, 320px);
}

button{
    border-radius: 50px !important;
    text-decoration: none;
    border: none;
    width: 150px;
    height: 55px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 12px;
    transition-duration: 0.4s;
}

.regist:hover{
    background: #b8e45a !important;
}

.login:hover{
    background: #f85b92 !important;
}

.welcome-user .circle{
    right: -55px;
    vertical-align: middle;
    top: 0;
    height: 950px;
    user-select: none;
}

.welcome-user .doctor{
    right: 140px;
    top: 300px;
    height: 500px;
    vertical-align: middle;
    user-select: none;
}

.about{
    background-color: rgb(99, 180, 235) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title-about{
    text-align: center;
    background-color: #c78ffc;
    max-width: 250px;
    min-width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: #737beb;
}

.title-about h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.about .content p{
    margin-top: 40px;
    font-size: 30px;
}

.about .content .image img{
    user-select: none;
    pointer-events: none;
    margin-top: 50px;
    height: 400px;
}

.about .content{

    text-align: center;
    padding-bottom: 100px;
}

.reminder{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgfamily p{
    padding-bottom: 10px;
}

.reminder .book button{
    background-color: #e4cf5a;
    width: 180px;
    font-size: 15px;
}

.reminder .book button:hover{
    background-color: #ceb006;
}
.reminder{
    margin-bottom: 100px;
}

.chat-btn {
    position: absolute;
    right: 28px;
    bottom: 20px;
    cursor: pointer
}
.chat-btn .close {
    display: none
}
.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #13f4b0;
    color: #fff;
}
.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    opacity: 0;
    transition: all 1.s
}

#check:checked~.wrapper {
    opacity: 1
}
.header {
  padding: 13px;
  background-color: #13f4b0;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  color: #fff
}
.btn:focus {
    box-shadow: none
}
.wrapper a, nav{
    color: black;
  }
#check {
    display: none !important;
}



/* Small devices (landscape phones, 576px and up) */

@media (max-width: 575px) {

    .main .welcome-user h1{
        color: rgb(204, 206, 79) !important;
        font-size: 50px;
        margin-top: 100px;
        transform: translateX(100px) translateY(120px);
    }

    .button{
        margin-top: 100px;
        transform: translate(70px, 300px);
    }

    .imgfamily img{
        height: 220px;
    }

    .about{
        max-width: 800px;
    }

    .welcome-user img{
        display: none;
    }

    .image-right{
        display: none;
    }

    .about .content .image img{
        height: 300px;
    }
    .about .content  p{
        max-width: 400px;
        margin-left: 10px;
    }
    .imgfamily img{
        max-height: 280px;
    }
    button{
        margin-right: 0px;
    }
} 
@media (min-width: 576px) {

    .welcome-user h1{
        font-size: 70px;
        margin-top: 100px;
        transform: translateX(80px) translateY(100px);
    }

    .button{
        margin-top: 100px;
        transform: translate(70px, 310px);
    }

    .image-right{
        display: none;
    }
    .welcome-user img{
        max-width: 650px;
    }

    .about .content  p{
        max-width: 550px;
        margin-left: 80px;
    }

    .imgfamily img{
        max-width: 500px;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .welcome-user h1{
        font-size: 70px;
        margin-top: 100px;
        transform: translateX(80px) translateY(100px);
    }

    .button{
        margin-top: 100px;
        transform: translate(70px, 310px);
    }

    .image-right{
        display: block;
    }

    .welcome-user .welcome-pattern{
        transform: translate(-60px, -10px);
    }
    .welcome-user img{
        height: 500px;
        transform: translate(-50px, -40px);
        position: absolute;
        pointer-events: none;
        user-select: none;
        width: auto;
    }

    .welcome-user .circle{
        height: 650px;
        transform: translate(-50px, -100px);
        position: absolute;
        pointer-events: none;
        user-select: none;
        width: auto;
    }

    .welcome-user .doctor{
        right: 110px;
        top: 300px;
        height: 350px;
        vertical-align: middle;
        user-select: none;
    }
    .welcome-user h1{
        position: absolute;
        font-size: 50px;
        transform: translate(50px, 70px);
    }
    button{
        border-radius: 50px;
        text-decoration: none;
        border: none;
        width: 100px;
        height: 40px;
        margin-right: 30px;
        cursor: pointer;
        font-size: 20px !important;
        transition-duration: 0.4s;
    }
    .button{
        position: absolute;
        transform: translate(53px, 220px);
    }

    .button .profile, .logoutbutt {
        width: 150px !important;
    }
    .button .logoutbutt{
        transform: translate(-50px, 0px);
    }

    .about .content  p{
        max-width: 700px;
        margin-left: 50px;
    }

}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {
    .welcome-user img{
        height: 600px;
        transform: translate(-50px, -100px);
        position: absolute;
        pointer-events: none;
        user-select: none;
    
    }
    
    .welcome-user h6{
        position: absolute;
        color: #e4cf5a;
        font-size: 70px;
        bottom: 340px;
        left: 50px;
    }
    
    .welcome-user .profile{
        position: absolute;
        width: 200px;
        font-size: 70px;
        bottom: 300px;
        left: 50px;
    }
    
    .welcome-user .profile:hover{
        background: #ee9746 !important;
    }
    
    .welcome-user .logoutbutt{
        position: absolute;
        width: 200px;
        font-size: 70px;
        bottom: 300px;
        left: 280px;
    }
    
    .welcome-user .logoutbutt:hover{
        background: #ee9746 !important;
    }
    
    
    .welcome-user h1{
        position: absolute;
        font-size: 60px;
        transform: translate(50px, 100px);
    }
    
    .welcome-user{
        padding-bottom: 850px;
    }
    
    .button{
        position: absolute;
        transform: translate(50px, 280px);
    }
    
    button{
        border-radius: 50px;
        text-decoration: none;
        border: none;
        width: 150px;
        height: 55px;
        margin-right: 30px;
        cursor: pointer;
        font-size: 30px !important;
        transition-duration: 0.4s;
    }
    
    .regist:hover{
        background: #b8e45a !important;
    }
    
    .login:hover{
        background: #f85b92 !important;
    }
    
    .welcome-user .circle{
        right: -55px;
        vertical-align: middle;
        top: 0;
        height: 700px;
        user-select: none;
    }
    
    .welcome-user .doctor{
        right: 100px;
        top: 360px;
        height: 350px;
        vertical-align: middle;
        user-select: none;
    }
    

    .button .logoutbutt {
        width: 150px !important;
    }
    .button .profile {
        width: 200px !important;

    }
    .button .logoutbutt{
        transform: translate(0px, 0px);
    }
    .about .content  p{
        max-width: 700px;
        margin-left: 50px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {
    .welcome-user img{
        height: 700px;
        transform: translate(-50px, -100px);
        position: absolute;
        pointer-events: none;
        user-select: none;
    
    }
    
    .welcome-user h6{
        position: absolute;
        color: #e4cf5a;
        font-size: 70px;
        bottom: 340px;
        left: 50px;
    }
    
    .welcome-user .profile{
        position: absolute;
        width: 200px;
        font-size: 70px;
        bottom: 300px;
        left: 50px;
    }
    
    .welcome-user .profile:hover{
        background: #ee9746 !important;
    }
    
    .welcome-user .logoutbutt{
        position: absolute;
        width: 200px;
        font-size: 70px;
        bottom: 300px;
        left: 280px;
    }
    
    .welcome-user .logoutbutt:hover{
        background: #ee9746 !important;
    }
    
    
    .welcome-user h1{
        position: absolute;
        font-size: 70px;
        transform: translate(50px, 100px);
    }
    
    .welcome-user{
        padding-bottom: 850px;
    }
    
    .button{
        position: absolute;
        transform: translate(70px, 320px);
    }
    
    button{
        border-radius: 50px;
        text-decoration: none;
        border: none;
        width: 150px;
        height: 55px;
        margin-right: 30px;
        cursor: pointer;
        font-size: 12px;
        transition-duration: 0.4s;
    }
    
    .regist:hover{
        background: #b8e45a !important;
    }
    
    .login:hover{
        background: #f85b92 !important;
    }
    
    .welcome-user .circle{
        right: -55px;
        vertical-align: middle;
        top: 0;
        height: 950px;
        user-select: none;
    }
    
    .welcome-user .doctor{
        right: 140px;
        top: 300px;
        height: 500px;
        vertical-align: middle;
        user-select: none;
    }
    .imgfamily img{
        max-height: 500px;
        max-width: 800px;
    }
    
}
