{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/master.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block meta%}{% endblock meta %}
    <title>{% block title %}Covindox{% endblock %}</title>
</head>
<body>
    {% block nav %}{% include 'navbar.html' %}{% endblock nav %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>