{% load static %}

{%block meta%}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock meta %}

{% block nav %}
<div class="navbar">
    <header>
        <h1 class="title">CVINDX</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/registrasi">Vaccination</a></li>
                <li><a href="#">News</a></li>
                <li><a href="/article">Article</a></li>
                <li><a href="/randomgenerator">Help People</a></li>
            </ul>

        </nav>
        {% if user.is_authenticated %}
        <div class="user">
            <h1>{{request.user}}</h1>
        </div>

        {% else %}
        <h1></h1>
        {%endif%}
        
    </header>
</div>
{% endblock nav %}