.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }

  h1 {
    padding-top: 30px;
  }

  #goto {
    text-align: center;
    color: violet;
  }

  .container {
    min-height: 600px;
  } 

  body {
    background: #c5f6fc !important; 
  }

  tbody {
    border-radius: 0.25rem;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }

  #event-title {
    color: #17a2b8;
    height: min-content !important;
  }

  #event-title {
    color: black;
  }

  #event-title a{
    color: violet;
  }
  #event-title a:hover {
    color: rgb(52, 202, 240) ;
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
  }
  
  .clearfix {
    margin: 15px;
    padding-top: 20px;
  }

  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }